BasedOnStyle: google
Standard: c++23
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
IndentWidth: 4
TabWidth: 4
AlignTrailingComments: true
UseTab: ForIndentation
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializersBeforeComma: true
DerivePointerAlignment: false
PointerAlignment: Right
IndentCaseLabels: false
SpaceAfterCStyleCast: true
IncludeCategories:
  - Regex: "^<[[:alnum:]._/]+>"
    Priority: 1
  - Regex: '^"'
    Priority: 2
